{% include "components/header.njk" %}
    {{ content | safe }}
    {% for year, yearPosts in collections.postsByYear %}
        <h2>{{year}}</h2>
        <ul>
            {% for post in yearPosts | reverse %}
                <li>
                    {{ post.date | asPostDate }} - 
                    <a href={{ post.url }}>{{ post.data.title }}</a>

                </li>    
            {% endfor %}
        </ul>
    {% endfor %}
</body>
{% include "components/footer.njk" %}