{% include "components/header.njk" %}
    {{ content | safe }}
    {% for year, yearPosts in collections.postsByYear %}
        <h2 class="tl">{{year}}</h2>
        <ul class="list">
            {% for post in yearPosts | reverse %}
                <li>
                    <small class="dib">{{ post.date | asPostDate }}</small>
                    <a href={{ post.url }} class="dib">{{ post.data.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</body>
{% include "components/footer.njk" %}
