{% include "components/header.njk" %}
<article class="flex-row mw7">
    <h2>{{title}}</h2>
    <small>{{ date | asPostDate }}</small>
    {{ content | safe }}
</article>
</body>
{% include "components/footer.njk" %}
